<!DOCTYPE html>
<html>
  <head>
    <title>LoggerCompany</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../Common/CSS/common.css" />
    <link rel="stylesheet" href="../styles/profile.css" />
    <script src="../scripts/profile.js"></script>
  </head>
  <body class="center">
    <div id="profile" class="holderColumn center">
      <div class="fill holderRow center">
        <h3>USERNAME</h3>
      </div>
      <div class="fill holderRow center">
        <h3>USER</h3>
      </div>
      <div class="fill holderRow center">
        <h3>EMAIL</h3>
      </div>
      <div class="fill holderRow center">
        <h3>AGE</h3>
      </div>
      <div class="fill holderRow center">
        <div id="buttons">
          <button id="buttonLogOut">LOG OUT</button>
          <button id="buttonGotoUpdate">UPDATE</button>
        </div>
      </div>
    </div>
    <div id="profileUpdater" class="holderColumn center">
      <div class="fill holderRow center">
        <h3>USERNAME</h3>
        <input type="text" class="input" />
      </div>
      <div class="fill holderRow center">
        <h3>USER</h3>
        <input type="text" class="input" />
      </div>
      <div class="fill holderRow center">
        <h3>EMAIL</h3>
        <input type="password" class="input" />
      </div>
      <div class="fill holderRow center">
        <h3>AGE</h3>
        <input type="text" class="input" />
      </div>
      <div class="fill holderRow center">
        <div id="buttons">
          <button id="buttonUpdate">UPDATE</button>
          <button id="buttonGotoProfile">BACK</button>
        </div>
      </div>
    </div>
  </body>
</html>
