<!DOCTYPE html>
<html>
  <head>
    <title>LoggerCompany</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../common/frontend/styles/common.css" />
    <link rel="stylesheet" href="../styles/login.css" />
    <script src="../scripts/login.js"></script>
  </head>
  <body class="center">
    <div id="login" class="holderColumn center">
      <div class="fill holderRow center">
        <h3>USER</h3>
        <input type="text" class="input" />
      </div>
      <div class="fill holderRow center">
        <h3>PASSWORD</h3>
        <input type="password" class="input" />
      </div>
      <div class="fill holderRow center">
        <div id="buttons">
          <button id="buttonLogin">LOGIN</button>
          <button id="buttonGotoCreate">CREATE</button>
        </div>
      </div>
    </div>
    <div id="userCreator" class="holderColumn center">
      <div class="fill holderRow center">
        <h3>USER</h3>
        <input type="text" class="input" />
      </div>
      <div class="fill holderRow center">
        <h3>PASSWORD</h3>
        <input type="password" class="input" />
      </div>
      <div class="fill holderRow center">
        <h3>RETYPE</h3>
        <input type="password" class="input" />
      </div>
      <div class="fill holderRow center">
        <div id="buttons">
          <button id="buttonGotoLogging">CREATE</button>
          <button id="buttonCreateUser">LOGIN</button>
        </div>
      </div>
    </div>
  </body>
</html>
